.footer{
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content:center;
    flex-wrap:wrap;
    margin-right: 12%;
    margin-left: 12%;
}

.footer-container{
    display: flex;
}

.footer-title{
    border-bottom: 5px solid rgb(19, 1, 1);
    padding: 2px;
}

.footer-list{
    margin: 10px;
    display: flex;
    flex-direction: column;

}

@media screen and (max-width: 600px){
    .footer-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        overflow-x: hidden;

    }
}
.footer-end {    
    display: flex;
    justify-content:center;
}
.focon{
    background-color: black;
    height: 80px;
}
.copyright{
    text-align: center;
    color: white;
}
footer a{
    color: aliceblue;
    text-decoration: none;
}

.footerlink{
    margin: 10px;
    text-decoration: none;
    display: block;
    color: rgb(243, 243, 243);
  }

  .footerlink:hover{
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 10px #fff, 0 0 20px #1be600, 0 0 10px #000000, 0 0 10px #000000, 0 0 60px #000000, 0 0 70px #68e600;
  }