.hero {
  display: grid;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  justify-items: center;
  align-items: center;
  width: 100%; 
  background-image: url("assets/images/hero2.jpg");

  
}

.hero-heading {
  text-align: center;
  padding: 0;
  background-color: black;
  background-image: radial-gradient(
    rgba(3, 39, 3, 0.541), black 120%
  );
  color: white;
  opacity: 0.9;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #b7ffa1;
  
  
}
