.modalContainer {
    position: fixed;
    margin:0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.35);
    opacity: 0.5;
    visibility: hidden;
    
}
.modalContainer .modal {
    background-color: rgba(247, 245, 238, 0.685);
    width: calc(15rem + 15vw);
    height: auto;
    padding: 2rem;
    margin-top: 4rem;
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-600px);
    transition: all 0.4s ease;
    z-index: 100;
}
.modalContainer .modal_header {
    position: relative;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.modalContainer .modal_header-title {
    text-align: center;
}
.modalContainer .modal_header .close {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
}
.modalContainer .modal_header .close img {
    width: 1rem;
    height: auto;
    transition: all 0.2s ease;
}
.modalContainer .modal_header .close:hover img {
    transform: scale(1.1);
}
.modalContainer .modal_content {
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 2rem 0;
}
.modalContainer .modal_footer {
    padding: 2rem 0;
    padding-bottom: 0;
}


.modalContainer.show {
    visibility: visible;
    opacity: 1;
}
.modalContainer.show .modal {
    transform: translateY(0);
}
.discriptions {
    margin-left: 1rem;
}
.modal-img{
    height: auto;
    width: 100%;
    object-fit: cover;
}