.tech{
    display:flex;
    flex-direction: column;
    align-items:left;
    justify-content:center;
    flex-wrap:wrap;
    margin-right: 12%;
    margin-left: 12%;
}

.tech-container{
    display: flex;
    overflow-x: hidden;
    
}
.tech-container p {
    margin-top: -3px;

}

.tech-title{
    border-bottom: 5px solid rgb(19, 1, 1);
    padding: 1px;
}

.tech-list{
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    flex-grow: 5;
    flex-shrink:0;
}

@media screen and (max-width: 750px){
    .tech-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
        overflow-x: hidden;

    }
    .tech-list{
        margin: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 2em;
    }
}