.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow-x: hidden;

}

.tech-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-bottom: 5px;
}

.skills{
  display: flex;
}
